/* RESET RULE  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-color {
    background-color: #dbdbed;
    color: #724E91;
}
.bio-wrapper{
    height: 200vh;
}
.site-heading {
    text-align: center;
    padding: 50px 0;
    height: 700px;
    width: 50%;

}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    text-shadow: 1px 1px 2px cadetblue;
}

.site-heading nav{
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-around;
}
.site-heading a {
    text-decoration: none;
    color: inherit;
}

/*Contact image*/
.Contact {
    height: 1000px;
    background-color: rgba(255,255,255,0.8);
    background-image: url("BB2.jpeg");
    background-blend-mode: lighten;
    background-position: center;  
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    text-align: center;
    color: #3d315b;
}
.Contact {
    text-align: center;
    color: #3d315b;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.home img{
    /* padding: 50px; */
    height: 800px;
    border-style: solid;
    border-color: black;
    border-radius: 200px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.menu :hover {
    color: cadetblue;
    font-style: oblique;
    text-decoration: underline;
}

a {
    padding: 30px;
}
h2{
    padding: 50px;
}
.kids-pics img{
    height: 200px;
}
.kids-pics {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
}
.kids-page {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}
.bio-header {
    padding: 50px;
} 
.link-style {
    font-family: 'Dancing Script', cursive;
    font-size: 19px;
    float: right;
    text-decoration:none
}
.link-style:hover {
    color: bisque;
}
.home {
    height: 1000px;
    background-color: rgba(255,255,255,0.8);
    background-image: url("assets/mountains.jpeg");
    background-blend-mode: lighten;
    background-position: center;  
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    text-align: center;
    color: #3d315b;
}
    .bio-wrapper {
        height: 1000px;
        background-color: rgba(255,255,255,0.8);
        background-image: url("assets/mountains.jpeg");
        background-blend-mode: lighten;
        background-position: center;  
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 0px;
        text-align: center;
        color: #3d315b;